<% form_for(:maintenance)  do |f| %>
	<div class="field">
		<%= f.label :invoice %> 
		<%= f.text_field :invoice %><br>
	</div>	
	<div class="field">
		<%= f.label :date %> 
		<%= f.text_field :date %><br>
	</div>	
	<div class="field">
		<%= f.label :milage %> 
		<%= f.text_field :milage %><br>
	</div>	
	<div class="field">
		<%= f.label :serviced_by %> 
		<%= f.text_field :serviced_by %><br>
	</div>	
	<div class="field">
		<%= f.label :cost %> 
		<%= f.text_field :cost %><br>
	</div>	
	<div class="field">
		<%= f.label :description %> 
		<%= f.text_field :description %><br>
	</div>
	<div class="field">
		<%= f.label :category %> 
		<%= f.text_field :category %><br>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>