<header>
	<div class="section">
	<%= link_to logo, root_path %>
	<nav class="box">
		<%= link_to 'MAINT', maintenance_path %>
		<%= link_to 'VEHICLES', vehicles_path %>
		<%= link_to 'REPORTS', reports_path %>
		<%= link_to 'SIGN IN', signin_path %>
	</nav>
	</div>
</header>